body {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    height:50%;
}

ul {
    list-style:none;
}

li {
    display:inline;
    padding:0 20px 0 0;
}

a {
    text-decoration:none;
    color:#000;
    position:relative;
    padding:.4rem 0;
}

li a::after{
    position:absolute;
    content:"";
    border-bottom:2px solid #000;
    left:0;
    bottom:0;
    width:100%;
    transform:scaleX(0);
    transform-origin:right;
    transition: transform .3s;
}

li a:hover::after {
    transform:scaleX(1);
    transform-origin:left;
}

.menu {
  padding:6px;
}

img {
    max-height:1200px;
}

.menu1 {
    float:right;
}

h1 {
    color:#fff;
    width: 60%; 
    height: 60%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding:150px 0 0 159px;
    font-size:40px;
}

.bg p {
    font-size:18px;
    color:#fff;
    width: 60%; 
    height: 60%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding:272px 0 0 288px;
}

.dws1 {
    position:absolute;
    width: 60%; 
    height: 30%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding:271px 0 0 160px;
    display:flex;
    justify-content:space-around;
    padding:200px 10px 0 0;

} 

 .butt {
    border:2px solid #fff;
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    width:180px;
    height:40px;
    display:block;
    text-align:center;
    line-height:40px;
    transition:0.2s
}

.butt1 {
    border:2px solid #00897b;
    background-color:#00897b;
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    width:180px;
    height:40px;
    display:block;
    text-align:center;
    line-height:40px;
    transition:0.2s;
}

.butt:hover {
    padding:8px;
    opacity:0.7;
}

.butt1:hover {
    padding:8px;
    opacity:0.9;
}

/* @media screen and (max-width:375px){
    h1 {
        padding:0 0 20px 35px;
        font-size:25px;
    }
    .bg p {
        padding:80px 0 0 0px;
    }

    a {
        font-size:11px;
    }
    .menu {
        padding:0 0 15px 0;
    }
    .dws1 {
        padding:0 0 30px 0;
        
    }
    .butt {
        font-size:13px;
        padding:2px;
        border:1px solid #fff;
    }
    .butt:hover{
        padding:4px;
    }
    .butt1 {
        font-size:13px;
        padding:2px;
        margin:0 14px 0 0;
    }
    .butt1:hover{
        padding:4px;
    }
} */

/* @media screen and (max-width:678px) {
    h1 {
        font-size:29px;
        padding:140px 0 0 50px;
    }
    .dws1 {
        padding:238px 0 0 0;
    }
    .bg p {
        padding:250px 0 0 20px;
    }
} */

/* The second page */
@media screen and (max-width:2560px) {
    body{
        height:100%;
    }
    img {
        background: url('https://s1.1zoom.ru/b5351/286/Mouse_computing_Laptops_Cup_Headphones_Camera_555197_2560x1440.jpg');
    }
    .dws1 {
        top:-4%;
        left:-1%;
        
    }
    .butt {
        left:8%;
    }
    h1 {
        font-size:41px;
    }
    .first {
        position: absolute;
        top:97%;
        left:50%;
    }
    .pos_1 {
        text-align: center;
        padding:20px 0 0 0;
    }
}